.section-header {
  position: relative;
  background-color: #282d30;
  height: 100vh; }

.section-cta {
  max-width: 100vw;
  background-color: #282d30; }

.section-about {
  max-width: 100vw;
  background-color: #282d30; }

.section-gallery {
  max-width: 100vw;
  background-color: #282d30; }

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 3rem; }
  .cta_container {
    position: relative;
    width: 90%;
    display: grid;
    padding-bottom: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); }
    @media screen and (max-width: 75em) {
      .cta_container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
        margin: 4rem; } }
  .cta_card {
    position: relative;
    display: flex;
    flex-direction: column; }
    .cta_card:nth-child(even) {
      flex-direction: column-reverse; }
      @media screen and (max-width: 75em) {
        .cta_card:nth-child(even) {
          flex-direction: row-reverse;
          margin: 1rem 0; } }
      @media screen and (max-width: 56.25em) {
        .cta_card:nth-child(even) {
          flex-direction: column;
          margin: 1rem 0; } }
    @media screen and (max-width: 75em) {
      .cta_card {
        flex-direction: row;
        margin: 1rem 0; } }
    @media screen and (max-width: 56.25em) {
      .cta_card {
        flex-direction: column;
        margin: 1rem 0; } }
  .cta_image-container {
    position: relative;
    width: 100%;
    height: 20rem; }
    .cta_image-container img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media screen and (max-width: 75em) {
      .cta_image-container {
        width: 100%; } }
  .cta_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 20rem; }
    @media screen and (max-width: 75em) {
      .cta_content {
        width: 100%; } }
    .cta_content div {
      padding: 3rem; }
    .cta_content h1 {
      color: #e78245;
      font-family: "Pacifico";
      padding-bottom: 1rem; }
    .cta_content p {
      color: #fff;
      font-family: "Roboto";
      padding-bottom: 1rem; }

.feature {
  width: 80%;
  margin: auto;
  height: calc(100vh - 7rem);
  display: grid;
  place-items: center; }
  .feature_title {
    color: #e78245;
    font-size: 4rem;
    font-family: "Pacifico", cursive;
    text-align: center; }
  .feature_info {
    color: #fff;
    font-family: "Dancing Script";
    font-size: 2rem;
    text-align: center; }

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  align-items: center;
  font-size: 1rem;
  padding: 2rem 3rem; }
  .navigation_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center; }
  .navigation_item {
    list-style: none; }
  .navigation_link {
    text-decoration: none;
    color: #e78245; }
  .navigation_logo-container {
    display: grid;
    justify-content: center; }
  .navigation_logo {
    color: #e78245; }
  .navigation_socials {
    display: grid;
    grid-template-columns: repeat(4, 3rem);
    justify-content: end; }
  .navigation_icon {
    color: #e78245; }

.about {
  display: flex;
  position: relative;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #e9ceb0; }
  .about_inner-container {
    display: grid;
    position: relative;
    width: 80%;
    height: 80vh;
    margin: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); }
  .about_img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    z-index: 0; }
    @media screen and (max-width: 75em) {
      .about_img-container {
        width: 50%;
        height: 50%; } }
    @media screen and (max-width: 37.5em) {
      .about_img-container {
        width: 100%;
        height: 50%; } }
    .about_img-container img {
      width: 100%;
      height: 100%; }
  .about_content {
    display: grid;
    position: absolute;
    background-color: #fff;
    height: 80%;
    width: 50%;
    top: 10%;
    left: 50%;
    justify-content: center;
    align-items: center;
    z-index: 1; }
    @media screen and (max-width: 75em) {
      .about_content {
        width: 50%;
        height: 100%;
        top: 0; } }
    @media screen and (max-width: 37.5em) {
      .about_content {
        width: 80%;
        margin: auto;
        height: 70%;
        top: 25%;
        left: 10%; } }
    .about_content div {
      padding: 4rem; }
      @media screen and (max-width: 75em) {
        .about_content div {
          padding: 2rem; } }
      .about_content div h1 {
        color: #da723c;
        letter-spacing: 0.5rem;
        font-family: "Noto sans JP", sans-serif;
        padding-bottom: 2rem; }
      .about_content div p {
        color: #e78245;
        font-family: "Roboto", sans-serif;
        line-height: 1.5rem;
        padding-bottom: 2rem; }
      .about_content div a {
        background-color: #e55743;
        color: #fff; }
        .about_content div a:hover {
          background: rgba(229, 87, 67, 0.8); }

.gallery {
  width: 100%;
  height: 100%;
  padding: 3rem; }
  .gallery_container {
    width: 100%; }
  .gallery_title {
    padding: 3rem;
    color: #e78245;
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 3rem; }
  .gallery_info {
    font-size: 1.5rem;
    font-family: "Noto sans JP", sans-serif; }
  .gallery_image-container {
    display: grid;
    width: 90%;
    max-height: calc(80% - 5rem);
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 1rem;
    grid-template-areas: "a a b b" "a a c d" "a a c e"; }
    @media screen and (max-width: 75em) {
      .gallery_image-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: "a b" "a c" "d e"; } }
    @media screen and (max-width: 37.5em) {
      .gallery_image-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 300px);
        grid-template-areas: "a" "b" "c" "d" "e"; } }
  .gallery_image-item {
    height: 100%;
    object-fit: cover;
    overflow: hidden; }
    .gallery_image-item img {
      width: 100%;
      height: 100%;
      filter: brightness(0.6);
      transition: 0.2s ease-in-out; }
      .gallery_image-item img:hover {
        filter: brightness(1) grayscale(0);
        cursor: pointer; }
  .gallery_image-card-1 {
    grid-area: b; }
    @media screen and (max-width: 37.5em) {
      .gallery_image-card-1 {
        grid-area: b; } }
  .gallery_image-card-2 {
    grid-area: c; }
    @media screen and (max-width: 37.5em) {
      .gallery_image-card-2 {
        grid-area: c; } }
  .gallery_image-card-3 {
    grid-area: a; }
    @media screen and (max-width: 37.5em) {
      .gallery_image-card-3 {
        grid-area: a; } }
  .gallery_image-card-4 {
    grid-area: d; }
    @media screen and (max-width: 37.5em) {
      .gallery_image-card-4 {
        grid-area: d; } }
  .gallery_image-card-5 {
    grid-area: e; }
    @media screen and (max-width: 37.5em) {
      .gallery_image-card-5 {
        grid-area: e; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn {
  --border-size: 2px;
  display: inline-block;
  position: relative;
  padding: 1.5em 3rem;
  appearance: none;
  border: 0;
  background: transparent;
  text-decoration: none;
  color: #e55743;
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease;
  text-align: center; }
  .btn:hover {
    background: rgba(100, 0, 0, 0.2); }
