//main website color pallet
$color-background: #282d30;
$color-primary-font: #e78245;
$color-primary-font-2: #da723c;
$color-white: #fff;
//button color
$button-color-primary: #e55743;
//font variables
$font-cursive: "Pacifico";
$font-cursive-2: "Dancing Script";
$font-sans-serif: "Roboto";
$font-sans-serif-2: "Noto sans JP"