//main website color pallet
$color-background: #282d30;
$color-primary-font: #e78245;
$color-white: #fff;
//font variables
$font-cursive: "Pacifico";
$font-cursive-2: "Dancing Script";
$font-sans-serif: "Roboto";