.feature {
    width: 80%;
    margin: auto;
    height: calc(100vh - 7rem);
    display: grid;
    place-items: center;
    &_title {
        color: $color-primary-font;
        font-size: 4rem;
        font-family: $font-cursive, cursive;
        text-align: center;
    }
    &_info {
        color: $color-white;
        font-family: $font-cursive-2;
        font-size: 2rem;
        text-align: center;
    }
}