.navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    align-items: center;
    font-size: 1rem;
    padding: 2rem 3rem;
    &_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
    }
    &_item {
        list-style: none;
    }
    &_link {
        text-decoration: none;
        color: $color-primary-font;
    }
    &_logo-container {
        display: grid;
        justify-content: center;
    }
    &_logo {
        color: $color-primary-font;
    }
    &_socials {
        display: grid;
        grid-template-columns: repeat(4, 3rem);
        justify-content: end;
    }
    &_icon {
        color: $color-primary-font;
    }
}