.section-header {
    position: relative;
    background-color: $color-background;
    height: 100vh;
}

.section-cta {
    max-width: 100vw;
    background-color: $color-background;
}

.section-about {
    max-width: 100vw;
    background-color: $color-background;
}

.section-gallery {
    max-width: 100vw;
    background-color: $color-background;
}